<h1>Documentos Enviados</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Arquivo</th>
      <th>Data de Envio</th>
      <th>Status de Processamento</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.file.filename, rails_blob_path(document.file, disposition: "attachment") %></td>
        <td><%= document.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= document.processed? ? "Processado" : "Em processamento" %></td>
        <td>
            <%= link_to 'Ver Relatório', document_path(document) %>
        </td>
        <td>
        <%= link_to 'Exportar Documento', export_document_path(document, format: :xlsx) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Enviar novo documento', new_document_path %>
